/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: whitesmoke;
}

body {
    scroll-behavior: smooth;
}

/* Header */
.header {
    /* background-color: rgb(245, 228, 228); */
    margin: auto;
}

img {
    width: 5%;
    height: 5%;
}

.nav {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    /* background-color: rgb(66, 128, 41); */
    list-style: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    /* box-shadow: 0 4px 30px rgba(999, 0, 0, 90); */
    /* Added display: flex and justify-content to align items to the right */
    display: flex;
    justify-content: flex-end;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    content: '';
    transition: 0.3s cubic-bezier(0.17, 0.67, 1.01);
    background-color: var(--color-white);
    height: 0.2rem;
    list-style: none;
}

.nav li a {
    color: var(--color-white);
    text-decoration: none;
    padding: 1rem;
    display: block;
    transition: 0.3s cubic-bezier(0.17, 0.67, 0, 1.01);
}

.nav li a:hover {
    color: #00d9ff;
    transition: 0.3s cubic-bezier(0.17, 0.67, 0, 1.01);
}

.nav li:hover {
    background-color: var(--color-white);
    height: 0.5rem;
    transition: 0.3s cubic-bezier(0.17, 0.67, 0, 1.01);
}

/* Main */
.img-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.main-section {
    color: aqua;
    margin: 3% 0;
}

/* Updated h1 styles */
h1 {
    color: #000000;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    padding: 20px 0;
}

/* Footer */
.footer {
    background-color: #d5cece;
  color: #020202;
    text-align: center;
    padding: 10px 0;
    margin: auto;
    z-index: 1;
    bottom: 0;
}